Repository murrple-1/rss_temple_ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write, prettier --config rss-temple-home/.prettierrc --ignore-path rss-temple-home/.prettierignore --write

.lintstagedrc:

{
  "rss-temple-web-app/**/*.{json,js,jsx,ts,tsx,html,md,yml,yaml,css,scss}": "prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write",
  "rss-temple-home/**/*.{json,js,ts,html,md,yml,yaml,css,scss,hbs}": "prettier --config rss-temple-home/.prettierrc --ignore-path rss-temple-home/.prettierignore --write"
}

fix tests
  rss-temple-web-app/src/app/routes/main/services/subscribed-feeds-facade.service.spec.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

refreshing should no longer cause as many app alerts via cancelled requests
  rss-temple-web-app/src/app/services/httperror.service.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

new version of previous commit
  rss-temple-web-app/src/app/components/app-alerts/app-alerts.component.ts
  rss-temple-web-app/src/app/services/httperror.service.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

some cleanup
  rss-temple-web-app/src/app/components/app-alerts/app-alerts.component.ts
  rss-temple-web-app/src/app/routes/main/components/feed/feed.component.spec.ts
  rss-temple-web-app/src/app/routes/main/components/feeds/feeds.component.spec.ts
  rss-temple-web-app/src/app/services/index.ts
  rss-temple-web-app/src/app/services/window-unloading.service.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

feed data no longer stale as you navigate between feeds
  rss-temple-web-app/src/app/routes/main/components/feed/feed.component.html
  rss-temple-web-app/src/app/routes/main/components/feed/feed.component.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

remove some 'confusing' text during loading new feed view
  rss-temple-web-app/src/app/routes/main/components/feed/feed.component.html
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

typo
  rss-temple-web-app/src/app/routes/main/components/feed/feed.component.html
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

file mode
  rss-temple-home/media/icon.svg
  rss-temple-web-app/src/app/libs/task-queue.ts
  rss-temple-web-app/src/app/routes/main/components/explore/explore.component.html
  rss-temple-web-app/src/assets/images/no_entries.png
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

Key alerts from stacking, if they are all the same alert
  rss-temple-web-app/src/app/components/app-alerts/app-alerts.component.ts
  rss-temple-web-app/src/app/components/login/login.component.ts
  rss-temple-web-app/src/app/components/register/register.component.ts
  rss-temple-web-app/src/app/components/reset-password/reset-password.component.ts
  rss-temple-web-app/src/app/routes/main/components/profile/profile.component.ts
  rss-temple-web-app/src/app/routes/main/components/shared/vertical-nav/vertical-nav.component.ts
  rss-temple-web-app/src/app/services/app-alerts.service.ts
  rss-temple-web-app/src/app/services/httperror.service.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

fix tests
  rss-temple-web-app/src/app/services/httperror.service.spec.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

add bluesky and thread sharing integration
  rss-temple-web-app/src/app/app.module.ts
  rss-temple-web-app/src/app/routes/main/components/shared/share-modal/share-modal.component.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

add bluesky and thread sharing integration
  rss-temple-web-app/src/assets/custom_cds_icon_svgs/bluesky.svg
  rss-temple-web-app/src/assets/custom_cds_icon_svgs/threads.svg
Due: none

update CI
  .circleci/config.yml
Due: none

injecting the no-referer into img tags
  rss-temple-web-app/src/app/libs/feed-content.lib.ts
  rss-temple-web-app/src/app/routes/main/components/shared/abstract-feeds/abstract-feeds.component.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

More img no-referrer
  rss-temple-web-app/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.html
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

Update Dockerfile 1/2
  rss-temple-home/Dockerfile
Due: none

Update Dockerfile 2/2
  rss-temple-web-app/Dockerfile
Due: none

typo
  rss-temple-home/Dockerfile
Due: none

typo
  rss-temple-web-app/Dockerfile
Due: none

Update Dockerfile
  rss-temple-web-app/Dockerfile
Due: none

test
  rss-temple-web-app/Dockerfile
Due: none

fix Dockerfile
  rss-temple-home/.dockerignore
  rss-temple-web-app/.dockerignore
  rss-temple-web-app/Dockerfile
Due: none

small improvement
  rss-temple-home/.dockerignore
  rss-temple-web-app/.dockerignore
Due: none

fix
  rss-temple-home/Dockerfile
Due: none

Update Dockerfile
  rss-temple-home/Dockerfile
Due: none

actual functionality for the report modals
  rss-temple-web-app/src/app/routes/main/components/feed/feed.component.spec.ts
  rss-temple-web-app/src/app/routes/main/components/feed/feed.component.ts
  rss-temple-web-app/src/app/routes/main/components/feed/report-feed-modal/report-feed-modal.component.html
  rss-temple-web-app/src/app/routes/main/components/feed/report-feed-modal/report-feed-modal.component.spec.ts
  rss-temple-web-app/src/app/routes/main/components/feed/report-feed-modal/report-feed-modal.component.ts
  rss-temple-web-app/src/app/routes/main/components/feeds/feeds.component.spec.ts
  rss-temple-web-app/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.ts
  rss-temple-web-app/src/app/routes/main/components/shared/feed-entry-view/report-feed-entry-modal/report-feed-entry-modal.component.html
  rss-temple-web-app/src/app/routes/main/components/shared/feed-entry-view/report-feed-entry-modal/report-feed-entry-modal.component.spec.ts
  rss-temple-web-app/src/app/routes/main/components/shared/feed-entry-view/report-feed-entry-modal/report-feed-entry-modal.component.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

adding the modals for reporting feeds and entries
  rss-temple-web-app/src/app/app.module.ts
  rss-temple-web-app/src/app/routes/main/components/feed/feed.component.html
  rss-temple-web-app/src/app/routes/main/components/feed/feed.component.ts
  rss-temple-web-app/src/app/routes/main/components/feed/report-feed-modal/report-feed-modal.component.html
  rss-temple-web-app/src/app/routes/main/components/feed/report-feed-modal/report-feed-modal.component.scss
  rss-temple-web-app/src/app/routes/main/components/feed/report-feed-modal/report-feed-modal.component.spec.ts
  rss-temple-web-app/src/app/routes/main/components/feed/report-feed-modal/report-feed-modal.component.ts
  rss-temple-web-app/src/app/routes/main/components/feeds/feeds.component.html
  rss-temple-web-app/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.html
  rss-temple-web-app/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.ts
  rss-temple-web-app/src/app/routes/main/components/shared/feed-entry-view/report-feed-entry-modal/report-feed-entry-modal.component.html
  rss-temple-web-app/src/app/routes/main/components/shared/feed-entry-view/report-feed-entry-modal/report-feed-entry-modal.component.scss
  rss-temple-web-app/src/app/routes/main/components/shared/feed-entry-view/report-feed-entry-modal/report-feed-entry-modal.component.spec.ts
  rss-temple-web-app/src/app/routes/main/components/shared/feed-entry-view/report-feed-entry-modal/report-feed-entry-modal.component.ts
  rss-temple-web-app/src/app/routes/main/main.module.ts
  rss-temple-web-app/src/app/services/data/index.ts
  rss-temple-web-app/src/app/services/data/report.service.spec.ts
  rss-temple-web-app/src/app/services/data/report.service.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

add an icon to the report button
  rss-temple-web-app/src/app/routes/main/components/feed/feed.component.html
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

ng update
  rss-temple-web-app/package.json
  rss-temple-web-app/yarn.lock
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

yarn update
  rss-temple-web-app/yarn.lock
Due: none

yarn update latest
  rss-temple-web-app/package.json
  rss-temple-web-app/yarn.lock
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

fixing a deprecation and adding some tests
  rss-temple-web-app/src/app/libs/hex-to-uuid.lib.spec.ts
  rss-temple-web-app/src/app/libs/hex-to-uuid.lib.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

the report modals now have a bunch of 'prefilled' options
  rss-temple-web-app/src/app/routes/main/components/feed/report-feed-modal/report-feed-modal.component.html
  rss-temple-web-app/src/app/routes/main/components/feed/report-feed-modal/report-feed-modal.component.scss
  rss-temple-web-app/src/app/routes/main/components/feed/report-feed-modal/report-feed-modal.component.ts
  rss-temple-web-app/src/app/routes/main/components/shared/feed-entry-view/report-feed-entry-modal/report-feed-entry-modal.component.html
  rss-temple-web-app/src/app/routes/main/components/shared/feed-entry-view/report-feed-entry-modal/report-feed-entry-modal.component.scss
  rss-temple-web-app/src/app/routes/main/components/shared/feed-entry-view/report-feed-entry-modal/report-feed-entry-modal.component.ts
  rss-temple-web-app/src/app/routes/main/libs/report.lib.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

comment
  rss-temple-web-app/src/app/routes/main/libs/report.lib.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

show 'thank you banner' only if report was actually sent
  rss-temple-web-app/src/app/routes/main/components/feed/feed.component.ts
  rss-temple-web-app/src/app/routes/main/components/feed/report-feed-modal/report-feed-modal.component.ts
  rss-temple-web-app/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.ts
  rss-temple-web-app/src/app/routes/main/components/shared/feed-entry-view/report-feed-entry-modal/report-feed-entry-modal.component.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

update home to use new 11ty
  package.json
  rss-temple-home/.eleventy.js
  rss-temple-home/package.json
  rss-temple-home/src/_data/env.js
  rss-temple-home/src/contact.11tydata.js
  rss-temple-home/src/index.11tydata.js
  rss-temple-home/src/privacy.11tydata.js
  rss-temple-home/src/tos.11tydata.js
  rss-temple-home/yarn.lock
  yarn.lock
Due: prettier --config rss-temple-home/.prettierrc --ignore-path rss-temple-home/.prettierignore --write

prettier fix
  rss-temple-web-app/src/app/components/app-alerts/app-alerts.component.html
  rss-temple-web-app/src/app/components/nav/nav.component.html
  rss-temple-web-app/src/app/components/shared/local-alerts/local-alerts.component.html
  rss-temple-web-app/src/app/routes/main/components/onboarding-modal/onboarding-modal.component.html
  rss-temple-web-app/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.html
  rss-temple-web-app/src/app/routes/main/components/shared/vertical-nav/vertical-nav.component.html
  rss-temple-web-app/src/app/routes/main/directives/inviewport.directive.ts
  rss-temple-web-app/src/polyfills.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write
