Repository murrple-1/rss_temple_ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write, prettier --config rss-temple-home/.prettierrc --ignore-path rss-temple-home/.prettierignore --write

.lintstagedrc:

{
  "rss-temple-web-app/**/*.{json,js,jsx,ts,tsx,html,md,yml,yaml,css,scss}": "prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write",
  "rss-temple-home/**/*.{json,js,ts,html,md,yml,yaml,css,scss,hbs}": "prettier --config rss-temple-home/.prettierrc --ignore-path rss-temple-home/.prettierignore --write"
}

fixing cookie deletion and readability
  rss-temple-web-app/src/app/services/auth-state.service.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

adding new field - not yet used
  rss-temple-web-app/src/app/models/feed.ts
  rss-temple-web-app/src/app/services/data/feed.service.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

rename isDormant -> isDead
  rss-temple-web-app/src/app/models/feed.ts
  rss-temple-web-app/src/app/services/data/feed.service.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

dead feeds now have little icons/descriptions warning that they're dead
  rss-temple-web-app/src/app/routes/main/components/feed/feed.component.html
  rss-temple-web-app/src/app/routes/main/components/feed/feed.component.scss
  rss-temple-web-app/src/app/routes/main/components/feed/feed.component.ts
  rss-temple-web-app/src/app/routes/main/components/shared/vertical-nav/vertical-nav.component.html
  rss-temple-web-app/src/app/routes/main/components/shared/vertical-nav/vertical-nav.component.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

whoops
  rss-temple-web-app/src/app/routes/main/components/feed/feed.component.html
  rss-temple-web-app/src/app/routes/main/components/shared/vertical-nav/vertical-nav.component.html
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

adding cookie consent snackbar
  rss-temple-web-app/src/app/app.component.html
  rss-temple-web-app/src/app/app.component.ts
  rss-temple-web-app/src/app/app.module.ts
  rss-temple-web-app/src/app/components/cookie-consent-snackbar/cookie-consent-snackbar.component.html
  rss-temple-web-app/src/app/components/cookie-consent-snackbar/cookie-consent-snackbar.component.scss
  rss-temple-web-app/src/app/components/cookie-consent-snackbar/cookie-consent-snackbar.component.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

modal-open handling
  rss-temple-web-app/src/app/components/nav/nav.component.ts
  rss-temple-web-app/src/app/components/register/register.component.ts
  rss-temple-web-app/src/app/routes/main/components/profile/profile.component.ts
  rss-temple-web-app/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.ts
  rss-temple-web-app/src/app/routes/main/components/shared/vertical-nav/vertical-nav.component.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

modal-open handling 2
  rss-temple-web-app/src/app/components/login/login.component.ts
  rss-temple-web-app/src/app/components/nav/nav.component.ts
  rss-temple-web-app/src/app/components/register/register.component.ts
  rss-temple-web-app/src/app/routes/main/components/feed/feed.component.ts
  rss-temple-web-app/src/app/routes/main/components/profile/profile.component.ts
  rss-temple-web-app/src/app/routes/main/components/shared/abstract-feeds/abstract-feeds.component.ts
  rss-temple-web-app/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.ts
  rss-temple-web-app/src/app/routes/main/components/shared/vertical-nav/vertical-nav.component.ts
  rss-temple-web-app/src/app/routes/main/main.component.ts
  rss-temple-web-app/src/app/services/modal-open.service.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

minor improvement
  rss-temple-web-app/src/app/components/login/login.component.ts
  rss-temple-web-app/src/app/routes/main/main.component.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

minor improvement
  rss-temple-web-app/src/app/components/register/register.component.spec.ts
  rss-temple-web-app/src/app/components/register/register.component.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

minor improvement
  rss-temple-web-app/src/app/components/nav/nav.component.html
  rss-temple-web-app/src/app/components/nav/nav.component.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

robots.txt
  rss-temple-home/src/robots.txt
  rss-temple-web-app/angular.json
  rss-temple-web-app/src/robots.txt
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

switching to alpine where possible
  rss-temple-home/docker-compose.yml
  rss-temple-web-app/docker-compose.yml
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write, prettier --config rss-temple-home/.prettierrc --ignore-path rss-temple-home/.prettierignore --write

fix: cookie expiry not set correctly
  rss-temple-web-app/src/app/app.component.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

TOS and privacy policy can now be customized
  rss-temple-home/.eleventy.js
  rss-temple-home/default_content/privacy.html
  rss-temple-home/default_content/tos.html
  rss-temple-home/src/_includes/head.liquid
  rss-temple-home/src/privacy.11tydata.js
  rss-temple-home/src/privacy.liquid
  rss-temple-home/src/tos.11tydata.js
  rss-temple-home/src/tos.liquid
Due: prettier --config rss-temple-home/.prettierrc --ignore-path rss-temple-home/.prettierignore --write

adding privacy policy link to cookie consent popover
  rss-temple-web-app/src/app/components/cookie-consent-snackbar/cookie-consent-snackbar.component.html
  rss-temple-web-app/src/app/components/cookie-consent-snackbar/cookie-consent-snackbar.component.ts
  rss-temple-web-app/src/assets/config.json
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

typo
  rss-temple-home/.eleventy.js
Due: prettier --config rss-temple-home/.prettierrc --ignore-path rss-temple-home/.prettierignore --write

fixes
  rss-temple-home/.eleventy.js
Due: prettier --config rss-temple-home/.prettierrc --ignore-path rss-temple-home/.prettierignore --write

moving Support page into the top-level module
  rss-temple-web-app/src/app/app.module.ts
  rss-temple-web-app/src/app/app.routing.ts
  rss-temple-web-app/src/app/components/nav/nav.component.ts
  rss-temple-web-app/src/app/components/support/support.component.html
  rss-temple-web-app/src/app/components/support/support.component.scss
  rss-temple-web-app/src/app/components/support/support.component.spec.ts
  rss-temple-web-app/src/app/components/support/support.component.ts
  rss-temple-web-app/src/app/routes/main/main.module.ts
  rss-temple-web-app/src/app/routes/main/main.routing.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

adding ToS and Privacy Policy to support page
  rss-temple-web-app/src/app/components/support/support.component.html
  rss-temple-web-app/src/app/components/support/support.component.ts
  rss-temple-web-app/src/assets/config.json
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

typo
  rss-temple-web-app/src/app/app.routing.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

ToS and privacy policy defaults
  rss-temple-home/default_content/privacy.html
  rss-temple-home/default_content/tos.html
Due: prettier --config rss-temple-home/.prettierrc --ignore-path rss-temple-home/.prettierignore --write

rename Privacy Policy page title
  rss-temple-home/src/privacy.11tydata.js
Due: prettier --config rss-temple-home/.prettierrc --ignore-path rss-temple-home/.prettierignore --write

tos.css -> legal.css
  rss-temple-home/package.json
  rss-temple-home/src/privacy.11tydata.js
  rss-temple-home/src/tos.11tydata.js
  rss-temple-home/styles/legal.scss
  rss-temple-home/styles/tos.scss
Due: prettier --config rss-temple-home/.prettierrc --ignore-path rss-temple-home/.prettierignore --write

new contact page example
  rss-temple-home/default_content/contact.html
  rss-temple-home/src/contact.11tydata.js
  rss-temple-home/src/contact.liquid
Due: prettier --config rss-temple-home/.prettierrc --ignore-path rss-temple-home/.prettierignore --write

adding logic for when no feed is found during subscribe flow
  rss-temple-web-app/src/app/routes/main/components/shared/vertical-nav/vertical-nav.component.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

new attempt of previous attempt
  rss-temple-web-app/src/app/routes/main/components/shared/vertical-nav/vertical-nav.component.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

switching home build to use 11ty fully
  rss-temple-home/.eleventy.js
  rss-temple-home/package.json
  rss-temple-home/src/scripts/main.js
  rss-temple-home/src/styles/legal.scss
  rss-temple-home/src/styles/main.scss
  rss-temple-home/yarn.lock
Due: prettier --config rss-temple-home/.prettierrc --ignore-path rss-temple-home/.prettierignore --write

simplify docker build output for CI
  .circleci/config.yml
Due: none

typo
  .circleci/config.yml
Due: none

fix home JS
  rss-temple-home/src/scripts/main.js
  rss-temple-home/webpack.config.js
Due: prettier --config rss-temple-home/.prettierrc --ignore-path rss-temple-home/.prettierignore --write

yarn update
  rss-temple-home/yarn.lock
Due: none

update eslint
  rss-temple-home/.eslintrc.json
  rss-temple-home/eslint.config.js
  rss-temple-home/package.json
  rss-temple-home/yarn.lock
Due: prettier --config rss-temple-home/.prettierrc --ignore-path rss-temple-home/.prettierignore --write

node version bumped
  .circleci/config.yml
  rss-temple-home/Dockerfile
  rss-temple-web-app/Dockerfile
Due: none

revert 'adding logic for when no feed is found during subscribe flow'. issue was more of a server issue
  rss-temple-web-app/src/app/routes/main/components/shared/vertical-nav/vertical-nav.component.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

wrong badge in the readme
  README.md
Due: none

generate source maps
  rss-temple-home/.eleventy.js
Due: prettier --config rss-temple-home/.prettierrc --ignore-path rss-temple-home/.prettierignore --write

sourcemaps are optional
  rss-temple-home/.eleventy.js
  rss-temple-home/Dockerfile
Due: prettier --config rss-temple-home/.prettierrc --ignore-path rss-temple-home/.prettierignore --write

ng update
  rss-temple-web-app/angular.json
  rss-temple-web-app/package.json
  rss-temple-web-app/yarn.lock
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

ng update
  rss-temple-web-app/angular.json
  rss-temple-web-app/package.json
  rss-temple-web-app/src/app/app.component.spec.ts
  rss-temple-web-app/src/app/app.module.ts
  rss-temple-web-app/tsconfig.json
  rss-temple-web-app/yarn.lock
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write
