Repository murrple-1/rss_temple_ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write, prettier --config rss-temple-home/.prettierrc --ignore-path rss-temple-home/.prettierignore --write

.lintstagedrc:

{
  "rss-temple-web-app/**/*.{json,js,jsx,ts,tsx,html,md,yml,yaml,css,scss}": "prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write",
  "rss-temple-home/**/*.{json,js,ts,html,md,yml,yaml,css,scss,hbs}": "prettier --config rss-temple-home/.prettierrc --ignore-path rss-temple-home/.prettierignore --write"
}

ng update
  rss-temple-web-app/package.json
  rss-temple-web-app/yarn.lock
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

yarn update
  rss-temple-web-app/yarn.lock
Due: none

yarn update
  rss-temple-web-app/package.json
  rss-temple-web-app/yarn.lock
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

add timeout to Google service
  rss-temple-web-app/src/app/services/gauth.service.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

Revert "Bump @angular/compiler from 21.0.8 to 21.2.4 in /rss-temple-web-app"
  rss-temple-web-app/package.json
  rss-temple-web-app/yarn.lock
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

fix CI
  .circleci/config.yml
  .husky/pre-commit
Due: none

deprecation fix
  package.json
Due: none

typo
  rss-temple-home/Dockerfile
Due: none

fix a task-queue corruption bug
  rss-temple-web-app/src/app/libs/task-queue.spec.ts
  rss-temple-web-app/src/app/libs/task-queue.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

adding 'engines' property to package.json
  package.json
  rss-temple-home/package.json
  rss-temple-web-app/package.json
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write, prettier --config rss-temple-home/.prettierrc --ignore-path rss-temple-home/.prettierignore --write

bump CI docker version and better login security
  .circleci/config.yml
Due: none

run ESLint on home in CI
  .circleci/config.yml
Due: none

make the Docker container users non-root
  rss-temple-home/Dockerfile
  rss-temple-web-app/Dockerfile
Due: none

SameSite=None is only accepted by browsers when the cookie is also marked Secure
  rss-temple-web-app/src/app/services/auth-state.service.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

InViewport leak — ref-counted eviction of the module-level observable cache; initEventListeners made idempotent (also closes a latent double-subscribe path)
  rss-temple-web-app/src/app/routes/main/directives/inviewport.directive.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

comment for CI
  .circleci/config.yml
Due: none

Fix indentation for install dependencies step
  .circleci/config.yml
Due: none
