Repository murrple-1/rss_temple_ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write, prettier --config rss-temple-home/.prettierrc --write

fixing tests
  rss-temple/.firefox_profile/.gitignore
  rss-temple/karma.conf.js
  rss-temple/src/app/components/register/register.component.spec.ts
Due: prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

codecov is invoked different now
  .circleci/config.yml
  rss-temple/package.json
  rss-temple/yarn.lock
Due: prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

force CI
  .circleci/config.yml
Due: none

Revert "force CI"
  .circleci/config.yml
Due: none

wrong HTTP code
  rss-temple/src/app/components/login/login.component.ts
  rss-temple/src/app/components/register/register.component.ts
  rss-temple/src/app/services/httperror.service.ts
Due: prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

minor cleanup
  rss-temple-home/src/partials/head.hbs
  rss-temple/src/index.html
Due: prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

adding a special character for password validation
  rss-temple/src/app/libs/password.lib.ts
Due: prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

handling weak passwords different from invalid passwords
  rss-temple/src/app/components/register/register.component.ts
  rss-temple/src/app/components/reset-password/reset-password.component.ts
  rss-temple/src/app/routes/main/components/profile/profile.component.ts
Due: prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

fixing brand SVGs
  rss-temple/src/custom_cds_icon_svgs/facebook-f.svg
  rss-temple/src/custom_cds_icon_svgs/facebook-messenger.svg
  rss-temple/src/custom_cds_icon_svgs/google.svg
  rss-temple/src/custom_cds_icon_svgs/linkedin.svg
  rss-temple/src/custom_cds_icon_svgs/pinterest.svg
  rss-temple/src/custom_cds_icon_svgs/reddit.svg
  rss-temple/src/custom_cds_icon_svgs/telegram.svg
  rss-temple/src/custom_cds_icon_svgs/tumblr.svg
  rss-temple/src/custom_cds_icon_svgs/whatsapp.svg
Due: none

fixing brand SVGs 2
  rss-temple/src/custom_cds_icon_svgs/facebook-f.svg
  rss-temple/src/custom_cds_icon_svgs/google.svg
  rss-temple/src/custom_cds_icon_svgs/linkedin.svg
  rss-temple/src/custom_cds_icon_svgs/pinterest.svg
  rss-temple/src/custom_cds_icon_svgs/telegram.svg
  rss-temple/src/custom_cds_icon_svgs/tumblr.svg
  rss-temple/src/custom_cds_icon_svgs/whatsapp.svg
Due: none

an attempt to allow editing the HTML <head>
  rss-temple-home/Dockerfile
  rss-temple-home/docker-run.sh
  rss-temple-home/src/partials/head.hbs
  rss-temple/src/index.html
Due: prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

adding og images
  rss-temple-home/src/media/og_image.png
  rss-temple/src/assets/images/og_image.png
Due: none

new idea for home's <head> edit
  rss-temple-home/Gruntfile.js
  rss-temple-home/src/partials/head.hbs
Due: prettier --config rss-temple-home/.prettierrc --write

switching from PNG to JPG for the og_image
  rss-temple-home/src/media/og_image.jpg
  rss-temple-home/src/media/og_image.png
  rss-temple/src/assets/images/og_image.jpg
  rss-temple/src/assets/images/og_image.png
Due: none

small note to myself for the future
  rss-temple-home/Gruntfile.js
Due: prettier --config rss-temple-home/.prettierrc --write

register page no longer needed to intermediate fb/google register
  rss-temple/src/app/components/register/register.component.spec.ts
  rss-temple/src/app/components/register/register.component.ts
Due: prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

changing how social logins handle the error of 'account exists but not linked to social account'
  rss-temple/src/app/components/login/login.component.ts
  rss-temple/src/app/components/register/register.component.ts
Due: prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

fixing tests
  rss-temple/src/app/components/login/login.component.spec.ts
Due: prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

fixing the reset password view - was sending in wrongly formatted data
  rss-temple/package.json
  rss-temple/src/app/components/reset-password/reset-password.component.ts
  rss-temple/src/app/libs/hex-to-uuid.lib.ts
  rss-temple/src/app/services/data/auth.service.ts
  rss-temple/yarn.lock
Due: prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

ng update
  rss-temple/package.json
  rss-temple/yarn.lock
Due: prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

yarn update
  rss-temple/yarn.lock
Due: none

yarn update latest - rxjs deprecation fixes
  rss-temple/package.json
  rss-temple/src/app/components/login/request-password-reset-modal/request-password-reset-modal.component.ts
  rss-temple/src/app/components/nav/search-modal/search-modal.component.ts
  rss-temple/src/app/components/shared/confirm-modal/confirm-modal.component.ts
  rss-temple/src/app/components/shared/info-modal/info-modal.component.ts
  rss-temple/src/app/routes/main/components/feed/user-categories-modal/user-categories-modal.component.ts
  rss-temple/src/app/routes/main/components/onboarding-modal/onboarding-modal.component.ts
  rss-temple/src/app/routes/main/components/profile/delete-user-confirm1-modal/delete-user-confirm1-modal.component.ts
  rss-temple/src/app/routes/main/components/profile/delete-user-confirm2-modal/delete-user-confirm2-modal.component.ts
  rss-temple/src/app/routes/main/components/profile/global-user-categories-modal/global-user-categories-modal.component.ts
  rss-temple/src/app/routes/main/components/search/search.component.ts
  rss-temple/src/app/routes/main/components/shared/share-modal/share-modal.component.ts
  rss-temple/src/app/routes/main/components/shared/vertical-nav/opml-modal/opml-modal.component.ts
  rss-temple/src/app/routes/main/components/shared/vertical-nav/subscribe-modal/subscribe-modal.component.ts
  rss-temple/src/app/routes/main/services/read-counter.service.ts
  rss-temple/src/app/services/config.service.ts
  rss-temple/src/app/services/data/auth.service.spec.ts
  rss-temple/src/app/services/data/captcha.service.spec.ts
  rss-temple/src/app/services/data/explore.service.spec.ts
  rss-temple/src/app/services/data/feed.service.spec.ts
  rss-temple/src/app/services/data/feedentry.service.spec.ts
  rss-temple/src/app/services/data/opml.service.spec.ts
  rss-temple/src/app/services/data/progress.service.spec.ts
  rss-temple/src/app/services/data/queryall.function.spec.ts
  rss-temple/src/app/services/data/registration.service.spec.ts
  rss-temple/src/app/services/data/usercategory.service.spec.ts
  rss-temple/src/app/services/data/usermeta.service.spec.ts
  rss-temple/yarn.lock
Due: prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

lint fixes
  rss-temple/src/app/app.module.ts
  rss-temple/src/app/routes/main/components/search/search.component.ts
Due: prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

disabling cache on webpack for now
  rss-temple-home/webpack.config.js
Due: prettier --config rss-temple-home/.prettierrc --write

small script improvements
  rss-temple-home/package.json
Due: prettier --config rss-temple-home/.prettierrc --write

Revert "disabling cache on webpack for now"
  rss-temple-home/webpack.config.js
Due: prettier --config rss-temple-home/.prettierrc --write

minor cleanup
  .circleci/config.yml
  rss-temple-home/docker-compose.yml
  rss-temple/Dockerfile
Due: prettier --config rss-temple-home/.prettierrc --write

css will now be minified
  rss-temple-home/package.json
  rss-temple-home/src/_includes/head.liquid
  rss-temple-home/src/tos.11tydata.js
Due: prettier --config rss-temple-home/.prettierrc --write

first pass at adding label voting
  rss-temple/src/app/app.module.ts
  rss-temple/src/app/models/classifierlabel.ts
  rss-temple/src/app/models/index.ts
  rss-temple/src/app/routes/main/components/feed/feed.component.html
  rss-temple/src/app/routes/main/components/feed/feed.component.spec.ts
  rss-temple/src/app/routes/main/components/feed/feed.component.ts
  rss-temple/src/app/routes/main/components/feeds/feeds.component.html
  rss-temple/src/app/routes/main/components/feeds/feeds.component.spec.ts
  rss-temple/src/app/routes/main/components/feeds/feeds.component.ts
  rss-temple/src/app/routes/main/components/shared/abstract-feeds/abstract-feeds.component.ts
  rss-temple/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.html
  rss-temple/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.scss
  rss-temple/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.spec.ts
  rss-temple/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.ts
  rss-temple/src/app/routes/main/components/shared/label-vote-modal/label-vote-modal.component.html
  rss-temple/src/app/routes/main/components/shared/label-vote-modal/label-vote-modal.component.scss
  rss-temple/src/app/routes/main/components/shared/label-vote-modal/label-vote-modal.component.spec.ts
  rss-temple/src/app/routes/main/components/shared/label-vote-modal/label-vote-modal.component.ts
  rss-temple/src/app/routes/main/main.module.ts
  rss-temple/src/app/routes/main/services/feed-entry-vote.service.spec.ts
  rss-temple/src/app/routes/main/services/feed-entry-vote.service.ts
  rss-temple/src/app/routes/main/services/feed-observable.service.ts
  rss-temple/src/app/routes/main/services/index.ts
  rss-temple/src/app/services/data/classifierlabel.service.spec.ts
  rss-temple/src/app/services/data/classifierlabel.service.ts
  rss-temple/src/app/services/data/index.ts
  rss-temple/src/assets/config.json
Due: prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

cleanup
  rss-temple/src/app/routes/main/components/shared/abstract-feeds/abstract-feeds.component.ts
  rss-temple/src/app/routes/main/components/shared/vertical-nav/vertical-nav.component.ts
  rss-temple/src/app/routes/main/services/feed-entry-vote.service.ts
Due: prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

yarn update latest
  rss-temple/package.json
  rss-temple/yarn.lock
Due: prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

small improvement to how vote dialog displays
  rss-temple/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.ts
Due: prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

Path conditions:
  prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write: any of: rss-temple/**/*.{json,js,jsx,ts,tsx,html,md,yml,yaml,css,scss}
  prettier --config rss-temple-home/.prettierrc --write: any of: rss-temple-home/**/*.{json,js,ts,html,md,yml,yaml,css,scss}
