Repository murrple-1/rss_temple_ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write, prettier --config rss-temple-home/.prettierrc --ignore-path rss-temple-home/.prettierignore --write

.lintstagedrc:

{
  "rss-temple-web-app/**/*.{json,js,jsx,ts,tsx,html,md,yml,yaml,css,scss}": "prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write",
  "rss-temple-home/**/*.{json,js,ts,html,md,yml,yaml,css,scss,hbs}": "prettier --config rss-temple-home/.prettierrc --ignore-path rss-temple-home/.prettierignore --write"
}

ng update
  rss-temple-web-app/package.json
  rss-temple-web-app/yarn.lock
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

yarn update
  rss-temple-web-app/yarn.lock
Due: none

yarn update latest
  rss-temple-web-app/package.json
  rss-temple-web-app/yarn.lock
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

various styling and breakage fixes
  rss-temple-web-app/angular.json
  rss-temple-web-app/package.json
  rss-temple-web-app/src/app/app.component.html
  rss-temple-web-app/src/app/app.module.ts
  rss-temple-web-app/src/app/components/nav/nav.component.html
  rss-temple-web-app/src/app/components/nav/nav.component.scss
  rss-temple-web-app/src/app/components/register/register.component.spec.ts
  rss-temple-web-app/src/app/components/support/support.component.ts
  rss-temple-web-app/src/app/pipes/dayjs-format.pipe.ts
  rss-temple-web-app/src/app/routes/main/components/shared/share-modal/share-modal.component.html
  rss-temple-web-app/src/app/routes/main/components/shared/share-modal/share-modal.component.spec.ts
  rss-temple-web-app/src/app/routes/main/components/shared/share-modal/share-modal.component.ts
  rss-temple-web-app/src/app/routes/main/main.module.ts
  rss-temple-web-app/src/index.html
  rss-temple-web-app/src/styles.scss
  rss-temple-web-app/src/types.d.ts
  rss-temple-web-app/yarn.lock
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

more styling fixes
  rss-temple-web-app/src/app/app.component.html
  rss-temple-web-app/src/app/app.component.scss
  rss-temple-web-app/src/app/components/nav/nav.component.html
  rss-temple-web-app/src/app/components/nav/nav.component.scss
  rss-temple-web-app/src/app/components/nav/search-modal/search-modal.component.html
  rss-temple-web-app/src/app/components/nav/search-modal/search-modal.component.ts
  rss-temple-web-app/src/app/routes/main/components/explore/explore.component.html
  rss-temple-web-app/src/app/routes/main/components/explore/explore.component.scss
  rss-temple-web-app/src/app/routes/main/components/search/search.component.html
  rss-temple-web-app/src/app/routes/main/components/search/search.component.scss
  rss-temple-web-app/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.html
  rss-temple-web-app/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.scss
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

search is now split across tabs
  rss-temple-web-app/src/app/components/nav/nav.component.ts
  rss-temple-web-app/src/app/routes/main/components/search/abstract-search.component.ts
  rss-temple-web-app/src/app/routes/main/components/search/search-entries/search-entries.component.html
  rss-temple-web-app/src/app/routes/main/components/search/search-entries/search-entries.component.scss
  rss-temple-web-app/src/app/routes/main/components/search/search-entries/search-entries.component.spec.ts
  rss-temple-web-app/src/app/routes/main/components/search/search-entries/search-entries.component.ts
  rss-temple-web-app/src/app/routes/main/components/search/search-feeds/search-feeds.component.html
  rss-temple-web-app/src/app/routes/main/components/search/search-feeds/search-feeds.component.scss
  rss-temple-web-app/src/app/routes/main/components/search/search-feeds/search-feeds.component.spec.ts
  rss-temple-web-app/src/app/routes/main/components/search/search-feeds/search-feeds.component.ts
  rss-temple-web-app/src/app/routes/main/components/search/search.component.html
  rss-temple-web-app/src/app/routes/main/main.module.ts
  rss-temple-web-app/src/app/routes/main/main.routing.ts
  rss-temple-web-app/src/app/services/subnav-links.service.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

started work on dark/light modes
  rss-temple-web-app/src/app/app.module.ts
  rss-temple-web-app/src/app/components/nav/nav.component.scss
  rss-temple-web-app/src/app/components/nav/nav.component.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

theme is now saved and handled by a service
  rss-temple-web-app/src/app/app.component.ts
  rss-temple-web-app/src/app/components/nav/nav.component.ts
  rss-temple-web-app/src/app/services/app-alerts.service.spec.ts
  rss-temple-web-app/src/app/services/index.ts
  rss-temple-web-app/src/app/services/theme.service.spec.ts
  rss-temple-web-app/src/app/services/theme.service.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

various lint fixes
  rss-temple-web-app/.eslintrc.json
  rss-temple-web-app/src/app/components/nav/nav.component.ts
  rss-temple-web-app/src/app/components/register/register.component.html
  rss-temple-web-app/src/app/components/support/support.component.html
  rss-temple-web-app/src/app/routes/main/components/explore/explore.component.html
  rss-temple-web-app/src/app/routes/main/components/search/abstract-search.component.ts
  rss-temple-web-app/src/app/routes/main/components/search/search-entries/search-entries.component.html
  rss-temple-web-app/src/app/routes/main/components/search/search-entries/search-entries.component.ts
  rss-temple-web-app/src/app/routes/main/components/search/search-feeds/search-feeds.component.ts
  rss-temple-web-app/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.html
  rss-temple-web-app/src/app/routes/main/components/shared/feeds-footer/feeds-footer.component.html
  rss-temple-web-app/src/app/services/data/classifierlabel.service.spec.ts
  rss-temple-web-app/src/app/services/httperror.service.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

working on tests
  rss-temple-web-app/src/app/app.component.spec.ts
  rss-temple-web-app/src/app/components/login/login.component.spec.ts
  rss-temple-web-app/src/app/components/login/request-password-reset-modal/request-password-reset-modal.component.spec.ts
  rss-temple-web-app/src/app/components/register/register.component.spec.ts
  rss-temple-web-app/src/app/components/reset-password/reset-password.component.spec.ts
  rss-temple-web-app/src/app/components/verify/verify.component.spec.ts
  rss-temple-web-app/src/app/routes/main/components/explore/explore.component.spec.ts
  rss-temple-web-app/src/app/routes/main/components/feed/feed.component.spec.ts
  rss-temple-web-app/src/app/routes/main/components/feed/user-categories-modal/user-categories-modal.component.spec.ts
  rss-temple-web-app/src/app/routes/main/components/feeds/feeds.component.spec.ts
  rss-temple-web-app/src/app/routes/main/components/profile/global-user-categories-modal/global-user-categories-modal.component.spec.ts
  rss-temple-web-app/src/app/routes/main/components/profile/profile.component.spec.ts
  rss-temple-web-app/src/app/routes/main/components/search/search-entries/search-entries.component.spec.ts
  rss-temple-web-app/src/app/routes/main/components/search/search-feeds/search-feeds.component.spec.ts
  rss-temple-web-app/src/app/routes/main/components/shared/label-vote-modal/label-vote-modal.component.spec.ts
  rss-temple-web-app/src/app/routes/main/components/shared/vertical-nav/exposed-feeds-modal/exposed-feeds-modal.component.spec.ts
  rss-temple-web-app/src/app/routes/main/components/shared/vertical-nav/opml-modal/opml-modal.component.spec.ts
  rss-temple-web-app/src/app/routes/main/components/shared/vertical-nav/vertical-nav.component.spec.ts
  rss-temple-web-app/src/app/routes/main/main.component.spec.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

fixing tests, and switching from embeded text in JS
  rss-temple-web-app/angular.json
  rss-temple-web-app/karma.conf.js
  rss-temple-web-app/src/app/app.module.ts
  rss-temple-web-app/src/app/components/login/login.component.spec.ts
  rss-temple-web-app/src/app/components/login/request-password-reset-modal/request-password-reset-modal.component.spec.ts
  rss-temple-web-app/src/app/components/register/register.component.spec.ts
  rss-temple-web-app/src/app/components/support/support.component.html
  rss-temple-web-app/src/app/components/support/support.component.ts
  rss-temple-web-app/src/assets/custom_cds_icon_svgs/book-strikethrough.svg
  rss-temple-web-app/src/assets/custom_cds_icon_svgs/facebook-f.svg
  rss-temple-web-app/src/assets/custom_cds_icon_svgs/facebook-messenger.svg
  rss-temple-web-app/src/assets/custom_cds_icon_svgs/google.svg
  rss-temple-web-app/src/assets/custom_cds_icon_svgs/linkedin.svg
  rss-temple-web-app/src/assets/custom_cds_icon_svgs/pinterest.svg
  rss-temple-web-app/src/assets/custom_cds_icon_svgs/reddit.svg
  rss-temple-web-app/src/assets/custom_cds_icon_svgs/star-filled.svg
  rss-temple-web-app/src/assets/custom_cds_icon_svgs/telegram.svg
  rss-temple-web-app/src/assets/custom_cds_icon_svgs/tumblr.svg
  rss-temple-web-app/src/assets/custom_cds_icon_svgs/twitter.svg
  rss-temple-web-app/src/assets/custom_cds_icon_svgs/whatsapp.svg
  rss-temple-web-app/src/types.d.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

fix build
  rss-temple-web-app/Dockerfile
Due: none

fix CI
  .circleci/config.yml
Due: none

first pass at lemmy and mastodon sharing
  rss-temple-web-app/src/app/routes/main/components/shared/share-modal/share-modal.component.html
  rss-temple-web-app/src/app/routes/main/components/shared/share-modal/share-modal.component.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

ellipsis
  rss-temple-web-app/src/app/components/nav/nav.component.html
  rss-temple-web-app/src/app/components/verify/verify.component.html
  rss-temple-web-app/src/app/routes/main/components/explore/explore.component.html
  rss-temple-web-app/src/app/routes/main/components/profile/profile.component.html
  rss-temple-web-app/src/app/routes/main/components/search/search-entries/search-entries.component.html
  rss-temple-web-app/src/app/routes/main/components/search/search-feeds/search-feeds.component.html
  rss-temple-web-app/src/app/routes/main/components/shared/feeds-footer/feeds-footer.component.html
  rss-temple-web-app/src/app/routes/main/components/shared/share-modal/share-modal.component.html
  rss-temple-web-app/src/app/routes/main/components/shared/vertical-nav/opml-modal/opml-modal.component.html
  rss-temple-web-app/src/app/routes/main/components/shared/vertical-nav/vertical-nav.component.html
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

first completed pass at adding mastodon and lemmy shares
  rss-temple-web-app/package.json
  rss-temple-web-app/src/app/app.module.ts
  rss-temple-web-app/src/app/routes/main/components/shared/share-modal/lemmy-share-modal/lemmy-share-modal.component.html
  rss-temple-web-app/src/app/routes/main/components/shared/share-modal/lemmy-share-modal/lemmy-share-modal.component.scss
  rss-temple-web-app/src/app/routes/main/components/shared/share-modal/lemmy-share-modal/lemmy-share-modal.component.spec.ts
  rss-temple-web-app/src/app/routes/main/components/shared/share-modal/lemmy-share-modal/lemmy-share-modal.component.ts
  rss-temple-web-app/src/app/routes/main/components/shared/share-modal/mastodon-share-modal/mastodon-share-modal.component.html
  rss-temple-web-app/src/app/routes/main/components/shared/share-modal/mastodon-share-modal/mastodon-share-modal.component.scss
  rss-temple-web-app/src/app/routes/main/components/shared/share-modal/mastodon-share-modal/mastodon-share-modal.component.spec.ts
  rss-temple-web-app/src/app/routes/main/components/shared/share-modal/mastodon-share-modal/mastodon-share-modal.component.ts
  rss-temple-web-app/src/app/routes/main/components/shared/share-modal/share-modal.component.html
  rss-temple-web-app/src/app/routes/main/components/shared/share-modal/share-modal.component.ts
  rss-temple-web-app/src/app/routes/main/directives/fediverse-instance-validator.directive.ts
  rss-temple-web-app/src/app/routes/main/main.module.ts
  rss-temple-web-app/src/assets/config.json
  rss-temple-web-app/src/assets/custom_cds_icon_svgs/lemmy.svg
  rss-temple-web-app/src/assets/custom_cds_icon_svgs/mastodon.svg
  rss-temple-web-app/yarn.lock
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

twitter to X conversion, and some font-awesome improvements
  rss-temple-home/Dockerfile
  rss-temple-home/docker-compose.override.dev.yml
  rss-temple-home/src/_data/env.js
  rss-temple-home/src/_layouts/standard.liquid
  rss-temple-home/src/index.liquid
  rss-temple-web-app/src/app/app.module.ts
  rss-temple-web-app/src/app/routes/main/components/shared/share-modal/share-modal.component.ts
  rss-temple-web-app/src/assets/custom_cds_icon_svgs/twitter-x.svg
  rss-temple-web-app/src/assets/custom_cds_icon_svgs/twitter.svg
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write, prettier --config rss-temple-home/.prettierrc --ignore-path rss-temple-home/.prettierignore --write

ellipsis 2
  rss-temple-home/docker-compose.yml
Due: prettier --config rss-temple-home/.prettierrc --ignore-path rss-temple-home/.prettierignore --write

minor change to sane defaults for lemmy/mastodon sharing
  rss-temple-web-app/src/app/routes/main/components/shared/share-modal/lemmy-share-modal/lemmy-share-modal.component.ts
  rss-temple-web-app/src/app/routes/main/components/shared/share-modal/mastodon-share-modal/mastodon-share-modal.component.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

slight improvement for mastodon
  rss-temple-web-app/src/app/routes/main/components/shared/share-modal/mastodon-share-modal/mastodon-share-modal.component.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

adding archived count to the feed view
  rss-temple-web-app/src/app/models/feed.ts
  rss-temple-web-app/src/app/routes/main/components/feed/feed.component.html
  rss-temple-web-app/src/app/routes/main/components/feed/feed.component.ts
  rss-temple-web-app/src/app/routes/main/components/feeds/feeds.component.html
  rss-temple-web-app/src/app/services/data/feed.service.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

improve the constrast in read vs unread entry mode
  rss-temple-web-app/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.scss
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

the 'unread' count should no longer be cut off
  rss-temple-web-app/src/app/app-shared.module.ts
  rss-temple-web-app/src/app/pipes/dayjs-format.pipe.ts
  rss-temple-web-app/src/app/pipes/truncated-number.pipe.ts
  rss-temple-web-app/src/app/routes/main/components/shared/vertical-nav/vertical-nav.component.html
  rss-temple-web-app/src/app/routes/main/components/shared/vertical-nav/vertical-nav.component.scss
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

truncate number to max 4 digits
  rss-temple-web-app/src/app/routes/main/components/shared/vertical-nav/vertical-nav.component.html
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

truncated number improvement
  rss-temple-web-app/src/app/pipes/truncated-number.pipe.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

minor display issue
  rss-temple-web-app/src/app/routes/main/components/feed/feed.component.html
  rss-temple-web-app/src/app/routes/main/components/feed/feed.component.scss
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

mistake during feed lookup returning single entry
  rss-temple-web-app/src/app/routes/main/components/shared/vertical-nav/vertical-nav.component.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

add marker to entries that they are archived
  rss-temple-web-app/src/app/app.module.ts
  rss-temple-web-app/src/app/models/feedentry.ts
  rss-temple-web-app/src/app/routes/main/components/shared/abstract-feeds/abstract-feeds.component.ts
  rss-temple-web-app/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.html
  rss-temple-web-app/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.scss
  rss-temple-web-app/src/app/services/data/feedentry.service.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

add lint to CI
  .circleci/config.yml
Due: none

add lint to CI
  .circleci/config.yml
  .lintstagedrc
  rss-temple-web-app/.prettierignore
Due: none

when categories not in use, the vertical nav doesn't need nested lists
  rss-temple-web-app/src/app/app.module.ts
  rss-temple-web-app/src/app/routes/main/components/shared/vertical-nav/vertical-nav.component.html
  rss-temple-web-app/src/app/routes/main/components/shared/vertical-nav/vertical-nav.component.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

vertical nav and feeds component now share the feeds query
  rss-temple-web-app/src/app/app.component.spec.ts
  rss-temple-web-app/src/app/libs/cache-observable.lib.ts
  rss-temple-web-app/src/app/routes/main/components/feed/feed.component.spec.ts
  rss-temple-web-app/src/app/routes/main/components/feeds/feeds.component.spec.ts
  rss-temple-web-app/src/app/routes/main/components/feeds/feeds.component.ts
  rss-temple-web-app/src/app/routes/main/components/shared/vertical-nav/vertical-nav.component.spec.ts
  rss-temple-web-app/src/app/routes/main/components/shared/vertical-nav/vertical-nav.component.ts
  rss-temple-web-app/src/app/routes/main/main.module.ts
  rss-temple-web-app/src/app/routes/main/services/index.ts
  rss-temple-web-app/src/app/routes/main/services/subscribed-feeds-facade.service.spec.ts
  rss-temple-web-app/src/app/routes/main/services/subscribed-feeds-facade.service.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

minor improvement to cache observable lib
  rss-temple-web-app/src/app/libs/cache-observable.lib.ts
  rss-temple-web-app/src/app/routes/main/services/subscribed-feeds-facade.service.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

another improvement to the cached request
  rss-temple-web-app/src/app/libs/cache-observable.lib.ts
  rss-temple-web-app/src/app/routes/main/services/subscribed-feeds-facade.service.ts
Due: prettier --config rss-temple-web-app/.prettierrc --ignore-path rss-temple-web-app/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write
