Repository murrple-1/rss_temple_ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write, prettier --config rss-temple-home/.prettierrc --write

.lintstagedrc:

{
  "rss-temple/**/*.{json,js,jsx,ts,tsx,html,md,yml,yaml,css,scss}": "prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write",
  "rss-temple-home/**/*.{json,js,ts,html,md,yml,yaml,css,scss}": "prettier --config rss-temple-home/.prettierrc --write"
}

improving how buttons work in general, and particularly on smaller screens
  rss-temple/src/app/app.module.ts
  rss-temple/src/app/routes/main/components/explore/explore.component.html
  rss-temple/src/app/routes/main/components/explore/explore.component.scss
  rss-temple/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.html
  rss-temple/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.scss
Due: prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

whoops
  rss-temple/src/custom_cds_icon_svgs/book-strikethrough.svg
  rss-temple/src/custom_cds_icon_svgs/star-filled.svg
Due: none

yarn update
  rss-temple/yarn.lock
Due: none

adding support for RSS autodiscovery
  rss-temple/package.json
  rss-temple/src/app/app-shared.module.ts
  rss-temple/src/app/directives/url-validator.directive.ts
  rss-temple/src/app/routes/main/components/feed/feed.component.spec.ts
  rss-temple/src/app/routes/main/components/feeds/feeds.component.spec.ts
  rss-temple/src/app/routes/main/components/shared/vertical-nav/exposed-feeds-modal/exposed-feeds-modal.component.html
  rss-temple/src/app/routes/main/components/shared/vertical-nav/exposed-feeds-modal/exposed-feeds-modal.component.scss
  rss-temple/src/app/routes/main/components/shared/vertical-nav/exposed-feeds-modal/exposed-feeds-modal.component.spec.ts
  rss-temple/src/app/routes/main/components/shared/vertical-nav/exposed-feeds-modal/exposed-feeds-modal.component.ts
  rss-temple/src/app/routes/main/components/shared/vertical-nav/subscribe-modal/subscribe-modal.component.html
  rss-temple/src/app/routes/main/components/shared/vertical-nav/subscribe-modal/subscribe-modal.component.ts
  rss-temple/src/app/routes/main/components/shared/vertical-nav/vertical-nav.component.html
  rss-temple/src/app/routes/main/components/shared/vertical-nav/vertical-nav.component.spec.ts
  rss-temple/src/app/routes/main/components/shared/vertical-nav/vertical-nav.component.ts
  rss-temple/src/app/routes/main/main.module.ts
  rss-temple/src/app/services/data/feed.service.ts
  rss-temple/yarn.lock
Due: prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

fixing CI
  .circleci/config.yml
Due: none

backwards logic
  rss-temple/src/app/routes/main/components/shared/vertical-nav/exposed-feeds-modal/exposed-feeds-modal.component.ts
Due: prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

fix feed counts after logout/login cycle
  rss-temple/src/app/routes/main/services/read-counter.service.ts
Due: prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

Minor cleanup
  rss-temple/src/app/routes/main/services/read-counter.service.ts
Due: prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

internal docker networks
  rss-temple-home/docker-compose.yml
  rss-temple/docker-compose.yml
Due: prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write, prettier --config rss-temple-home/.prettierrc --write

switch repo name
  README.md
  package.json
  rss-temple/src/assets/config.json
Due: prettier --config rss-temple/.prettierrc --ignore-path rss-temple/.prettierignore --plugin=@trivago/prettier-plugin-sort-imports --write

typo
  rss-temple-app/src/assets/config.json
Due: none

missed a couple
  .circleci/config.yml
Due: none

missed a couple
  .circleci/config.yml
  rss-temple-home/Dockerfile
  rss-temple-home/docker-compose.override.dev.yml
  rss-temple-home/src/_data/env.js
  rss-temple-home/src/_layouts/standard.liquid
  rss-temple-home/src/index.liquid
Due: prettier --config rss-temple-home/.prettierrc --write

update copyright
  rss-temple-home/src/_layouts/standard.liquid
  rss-temple-home/src/tos.liquid
Due: none

home yarn upgrade
  rss-temple-home/yarn.lock
Due: none

web-app ng update
  rss-temple-web-app/package.json
  rss-temple-web-app/yarn.lock
Due: none

web-app yarn upgrade
  rss-temple-web-app/yarn.lock
Due: none

feed url is now included on the search page, to disambiguate similar RSS titles
  rss-temple-web-app/src/app/routes/main/components/search/search.component.html
  rss-temple-web-app/src/app/routes/main/components/search/search.component.scss
Due: none

search now supports quote-character in text
  rss-temple-web-app/src/app/routes/main/components/search/search.component.ts
Due: none

add donation links
  rss-temple-web-app/src/app/components/nav/nav.component.html
  rss-temple-web-app/src/app/components/nav/nav.component.ts
  rss-temple-web-app/src/assets/config.json
Due: none

small donation link improvement
  rss-temple-web-app/src/app/components/nav/nav.component.html
  rss-temple-web-app/src/app/components/nav/nav.component.ts
Due: none

separating extra nav from donation links
  rss-temple-web-app/src/app/components/nav/nav.component.html
  rss-temple-web-app/src/app/components/nav/nav.component.ts
  rss-temple-web-app/src/app/routes/main/components/support/support.component.html
  rss-temple-web-app/src/app/routes/main/components/support/support.component.scss
  rss-temple-web-app/src/app/routes/main/components/support/support.component.ts
  rss-temple-web-app/src/assets/config.json
Due: none

rename field
  rss-temple-web-app/src/app/models/feedentry.ts
  rss-temple-web-app/src/app/services/data/feedentry.service.spec.ts
Due: none

rename field for consistency
  rss-temple-web-app/src/app/models/feed.ts
  rss-temple-web-app/src/app/routes/main/components/feed/feed.component.html
  rss-temple-web-app/src/app/routes/main/components/feed/feed.component.ts
  rss-temple-web-app/src/app/routes/main/components/feeds/feeds.component.ts
  rss-temple-web-app/src/app/routes/main/components/profile/profile.component.ts
  rss-temple-web-app/src/app/routes/main/components/shared/vertical-nav/vertical-nav.component.ts
  rss-temple-web-app/src/app/routes/main/services/read-counter.service.ts
  rss-temple-web-app/src/app/services/data/feed.service.spec.ts
Due: none

CI fix
  .circleci/config.yml
Due: none

batch the classifier label lookups
  rss-temple-web-app/src/app/routes/main/components/shared/abstract-feeds/abstract-feeds.component.ts
  rss-temple-web-app/src/app/services/data/classifierlabel.service.ts
Due: none

endpoint moved from GET to POST to support better querying
  rss-temple-web-app/src/app/routes/main/components/shared/abstract-feeds/abstract-feeds.component.ts
  rss-temple-web-app/src/app/services/data/classifierlabel.service.ts
Due: none

got the CSRF token working correctly, now that I understand it
  rss-temple-web-app/package.json
  rss-temple-web-app/src/app/app.module.ts
  rss-temple-web-app/src/app/components/login/login.component.ts
  rss-temple-web-app/src/app/components/nav/nav.component.ts
  rss-temple-web-app/src/app/guards/auth.guard.ts
  rss-temple-web-app/src/app/routes/main/components/profile/profile.component.ts
  rss-temple-web-app/src/app/services/auth-state.service.ts
  rss-temple-web-app/src/app/services/data/auth.service.ts
  rss-temple-web-app/src/app/services/data/classifierlabel.service.ts
  rss-temple-web-app/src/app/services/data/common.interface.ts
  rss-temple-web-app/src/app/services/data/csrftoken.lib.ts
  rss-temple-web-app/src/app/services/data/explore.service.ts
  rss-temple-web-app/src/app/services/data/feed.service.ts
  rss-temple-web-app/src/app/services/data/feedentry.service.ts
  rss-temple-web-app/src/app/services/data/get.interface.ts
  rss-temple-web-app/src/app/services/data/opml.service.ts
  rss-temple-web-app/src/app/services/data/progress.service.ts
  rss-temple-web-app/src/app/services/data/query.interface.ts
  rss-temple-web-app/src/app/services/data/queryall.function.ts
  rss-temple-web-app/src/app/services/data/social.service.ts
  rss-temple-web-app/src/app/services/data/stablequery.interface.ts
  rss-temple-web-app/src/app/services/data/stablequeryall.function.ts
  rss-temple-web-app/src/app/services/data/usercategory.service.ts
  rss-temple-web-app/src/app/services/data/usermeta.service.ts
  rss-temple-web-app/src/app/services/httperror.service.ts
  rss-temple-web-app/yarn.lock
Due: none

fixing tests
  rss-temple-web-app/src/app/components/login/login.component.spec.ts
  rss-temple-web-app/src/app/guards/auth.guard.spec.ts
  rss-temple-web-app/src/app/services/data/auth.service.spec.ts
  rss-temple-web-app/src/app/services/data/captcha.service.spec.ts
  rss-temple-web-app/src/app/services/data/classifierlabel.service.spec.ts
  rss-temple-web-app/src/app/services/data/explore.service.spec.ts
  rss-temple-web-app/src/app/services/data/feed.service.spec.ts
  rss-temple-web-app/src/app/services/data/feedentry.service.spec.ts
  rss-temple-web-app/src/app/services/data/get.interface.spec.ts
  rss-temple-web-app/src/app/services/data/opml.service.spec.ts
  rss-temple-web-app/src/app/services/data/progress.service.spec.ts
  rss-temple-web-app/src/app/services/data/registration.service.spec.ts
  rss-temple-web-app/src/app/services/data/social.service.spec.ts
  rss-temple-web-app/src/app/services/data/usercategory.service.spec.ts
  rss-temple-web-app/src/app/services/data/usermeta.service.spec.ts
  rss-temple-web-app/src/app/services/httperror.service.spec.ts
  rss-temple-web-app/src/app/test/cookie.service.mock.ts
Due: none

more logging
  rss-temple-web-app/src/app/components/login/login.component.ts
Due: none

social login missed logic
  rss-temple-web-app/src/app/services/data/social.service.ts
Due: none

switching from sessionStorage to cookies, to ensure the 'session' expiry is consistent
  rss-temple-web-app/src/app/components/login/login.component.ts
  rss-temple-web-app/src/app/components/nav/nav.component.ts
  rss-temple-web-app/src/app/routes/main/components/profile/profile.component.ts
  rss-temple-web-app/src/app/services/auth-state.service.ts
  rss-temple-web-app/src/app/services/httperror.service.ts
Due: none

fixing tests
  rss-temple-web-app/src/app/guards/auth.guard.spec.ts
  rss-temple-web-app/src/app/routes/main/services/read-counter.service.spec.ts
  rss-temple-web-app/src/app/services/auth-state.service.spec.ts
  rss-temple-web-app/src/app/services/httperror.service.spec.ts
Due: none

fixing the nav 'active' highlighting
  rss-temple-web-app/src/app/components/nav/nav.component.ts
Due: none
