Repository murrple-1/rss_temple_ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config rss-temple/.prettierrc --write, prettier --config rss-temple-home/.prettierrc --write

yarn update
  rss-temple-home/Gruntfile.js
  rss-temple-home/package.json
  rss-temple-home/yarn.lock
Due: prettier --config rss-temple-home/.prettierrc --write

adding a 'Go to Feed' button
  rss-temple/src/app/routes/main/components/explore/explore.component.html
  rss-temple/src/app/routes/main/components/explore/explore.component.scss
  rss-temple/src/app/routes/main/components/feeds/feeds.component.html
  rss-temple/src/app/routes/main/components/feeds/feeds.component.ts
  rss-temple/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.html
  rss-temple/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.ts
Due: prettier --config rss-temple/.prettierrc --write

adding captcha to registration
  rss-temple/src/app/app.module.ts
  rss-temple/src/app/components/register/register.component.html
  rss-temple/src/app/components/register/register.component.ts
  rss-temple/src/app/services/data/captcha.service.spec.ts
  rss-temple/src/app/services/data/captcha.service.ts
  rss-temple/src/app/services/data/index.ts
  rss-temple/src/app/services/data/registration.service.ts
Due: prettier --config rss-temple/.prettierrc --write

'Remember Me' functionality is slightly better
  rss-temple/src/app/components/login/login.component.ts
  rss-temple/src/app/components/nav/nav.component.ts
  rss-temple/src/app/services/auth-token.service.ts
  rss-temple/src/app/services/httperror.service.ts
Due: prettier --config rss-temple/.prettierrc --write

typo in header
  rss-temple/src/app/components/verify/verify.component.html
Due: prettier --config rss-temple/.prettierrc --write

fixing tests
  rss-temple/src/app/components/register/register.component.spec.ts
  rss-temple/src/app/guards/auth.guard.spec.ts
  rss-temple/src/app/services/data/captcha.service.spec.ts
  rss-temple/src/app/services/data/registration.service.spec.ts
  rss-temple/src/test_files/sample.png
  rss-temple/src/test_files/sample.wav
Due: prettier --config rss-temple/.prettierrc --write

CI fixes
  .circleci/config.yml
Due: none

simplified captcha API usage
  rss-temple/src/app/services/data/registration.service.ts
Due: prettier --config rss-temple/.prettierrc --write

read counter is now using a more dedicated API
  rss-temple/src/app/routes/main/components/profile/profile.component.spec.ts
  rss-temple/src/app/routes/main/components/profile/profile.component.ts
  rss-temple/src/app/services/data/index.ts
  rss-temple/src/app/services/data/usermeta.service.spec.ts
  rss-temple/src/app/services/data/usermeta.service.ts
Due: prettier --config rss-temple/.prettierrc --write

using a slightly more idiomatic user category apply endpoint
  rss-temple/src/app/services/data/usercategory.service.ts
Due: prettier --config rss-temple/.prettierrc --write

improve entry CSS
  rss-temple/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.scss
Due: prettier --config rss-temple/.prettierrc --write

add searching by entry language
  rss-temple/angular.json
  rss-temple/package.json
  rss-temple/src/app/models/feedentry.ts
  rss-temple/src/app/routes/main/components/search/search.component.html
  rss-temple/src/app/routes/main/components/search/search.component.scss
  rss-temple/src/app/routes/main/components/search/search.component.ts
  rss-temple/yarn.lock
Due: prettier --config rss-temple/.prettierrc --write

pin webcomponentsjs until https://github.com/webcomponents/polyfills/issues/531 is fixed
  rss-temple/package.json
  rss-temple/yarn.lock
Due: prettier --config rss-temple/.prettierrc --write

languages are no longer hardcoded
  rss-temple/angular.json
  rss-temple/package.json
  rss-temple/src/app/models/feedentry.ts
  rss-temple/src/app/routes/main/components/search/search.component.html
  rss-temple/src/app/routes/main/components/search/search.component.scss
  rss-temple/src/app/routes/main/components/search/search.component.spec.ts
  rss-temple/src/app/routes/main/components/search/search.component.ts
  rss-temple/src/app/services/data/feedentry.service.spec.ts
  rss-temple/src/app/services/data/feedentry.service.ts
  rss-temple/src/assets/images/custom_language_icons/un.svg
  rss-temple/yarn.lock
Due: prettier --config rss-temple/.prettierrc --write

got prettier working a bit better for home
  .lintstagedrc
  rss-temple-home/.prettierignore
  rss-temple-home/src/contact.hbs
  rss-temple-home/src/index.hbs
  rss-temple-home/src/privacy.hbs
  rss-temple-home/src/tos.hbs
Due: none

switching from localeCompare to Collate.compare, and changing how language_icons are bundled
  rss-temple/angular.json
  rss-temple/src/app/libs/compare.lib.ts
  rss-temple/src/app/routes/main/components/search/search.component.ts
  rss-temple/src/app/routes/main/components/shared/vertical-nav/vertical-nav.component.ts
  rss-temple/src/custom_language_icons/un.svg
Due: prettier --config rss-temple/.prettierrc --write

adding missing language icons
  rss-temple/src/custom_language_icons/ro.svg
  rss-temple/src/custom_language_icons/tr.svg
Due: none

adding a share button for articles - experimental
  rss-temple/src/app/app.module.ts
  rss-temple/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.html
  rss-temple/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.scss
  rss-temple/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.ts
Due: prettier --config rss-temple/.prettierrc --write

fixing tests
  rss-temple/.prettierignore
  rss-temple/src/test.ts
Due: prettier --config rss-temple/.prettierrc --write

don't share content right now
  rss-temple/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.ts
Due: prettier --config rss-temple/.prettierrc --write

rename variable
  rss-temple/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.html
  rss-temple/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.ts
Due: prettier --config rss-temple/.prettierrc --write

a more complete share experience
  rss-temple/package.json
  rss-temple/src/app/app.module.ts
  rss-temple/src/app/routes/main/components/feed/feed.component.html
  rss-temple/src/app/routes/main/components/feed/feed.component.spec.ts
  rss-temple/src/app/routes/main/components/feeds/feeds.component.html
  rss-temple/src/app/routes/main/components/feeds/feeds.component.spec.ts
  rss-temple/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.html
  rss-temple/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.ts
  rss-temple/src/app/routes/main/components/shared/share-modal/share-modal.component.html
  rss-temple/src/app/routes/main/components/shared/share-modal/share-modal.component.scss
  rss-temple/src/app/routes/main/components/shared/share-modal/share-modal.component.spec.ts
  rss-temple/src/app/routes/main/components/shared/share-modal/share-modal.component.ts
  rss-temple/src/app/routes/main/main.module.ts
  rss-temple/src/assets/images/facebook-f.svg
  rss-temple/src/assets/images/google.svg
  rss-temple/src/custom_cds_icon_svgs/facebook-f.svg
  rss-temple/src/custom_cds_icon_svgs/facebook-messenger.svg
  rss-temple/src/custom_cds_icon_svgs/google.svg
  rss-temple/src/custom_cds_icon_svgs/linkedin.svg
  rss-temple/src/custom_cds_icon_svgs/pinterest.svg
  rss-temple/src/custom_cds_icon_svgs/reddit.svg
  rss-temple/src/custom_cds_icon_svgs/telegram.svg
  rss-temple/src/custom_cds_icon_svgs/tumblr.svg
  rss-temple/src/custom_cds_icon_svgs/twitter.svg
  rss-temple/src/custom_cds_icon_svgs/whatsapp.svg
  rss-temple/yarn.lock
Due: prettier --config rss-temple/.prettierrc --write

consistent var name
  rss-temple/src/app/app.module.ts
  rss-temple/src/app/routes/main/components/search/search.component.html
  rss-temple/src/app/routes/main/components/search/search.component.ts
Due: prettier --config rss-temple/.prettierrc --write

fixing search for mobile devices
  rss-temple/src/app/app.component.spec.ts
  rss-temple/src/app/app.module.ts
  rss-temple/src/app/components/nav/nav.component.html
  rss-temple/src/app/components/nav/nav.component.scss
  rss-temple/src/app/components/nav/nav.component.ts
  rss-temple/src/app/components/nav/search-modal/search-modal.component.html
  rss-temple/src/app/components/nav/search-modal/search-modal.component.scss
  rss-temple/src/app/components/nav/search-modal/search-modal.component.spec.ts
  rss-temple/src/app/components/nav/search-modal/search-modal.component.ts
Due: prettier --config rss-temple/.prettierrc --write

search now takes 100% screen real-estate
  rss-temple/src/app/components/nav/nav.component.scss
Due: prettier --config rss-temple/.prettierrc --write

new look and feel, new icon
  rss-temple/raw/temple.svg
  rss-temple/src/app/app.component.html
  rss-temple/src/assets/images/icon.svg
  rss-temple/src/assets/images/rss-icon.svg
  rss-temple/src/favicon.ico
Due: prettier --config rss-temple/.prettierrc --write

updating home icon
  raw/temple.svg
  rss-temple-home/src/favicon.ico
  rss-temple-home/src/media/icon.svg
  rss-temple-home/src/partials/nav.hbs
  rss-temple-home/src/styles/main.scss
Due: prettier --config rss-temple-home/.prettierrc --write

minify favicon
  rss-temple-home/src/favicon.ico
  rss-temple/src/favicon.ico
Due: none

small cleanup to home
  rss-temple-home/Gruntfile.js
  rss-temple-home/src/partials/footer.hbs
  rss-temple-home/src/partials/head.hbs
Due: prettier --config rss-temple-home/.prettierrc --write

new look-and-feel for the home page
  rss-temple-home/src/media/bg-masthead1.jpg
  rss-temple-home/src/media/bg-masthead2.jpg
  rss-temple-home/src/media/bg-showcase-1.jpg
  rss-temple-home/src/media/bg-showcase-2.jpg
  rss-temple-home/src/media/bg-showcase-3.jpg
  rss-temple-home/src/styles/main.scss
Due: prettier --config rss-temple-home/.prettierrc --write

[ImgBot] Optimize images
  rss-temple-home/src/media/bg-masthead1.jpg
  rss-temple-home/src/media/bg-masthead2.jpg
  rss-temple-home/src/media/bg-showcase-1.jpg
  rss-temple-home/src/media/bg-showcase-2.jpg
  rss-temple-home/src/media/bg-showcase-3.jpg
Due: none

a new login BG image
  rss-temple/src/app/components/login/login.component.scss
  rss-temple/src/assets/images/login_bg.svg
  rss-temple/tools/login_image_gen/login_image_gen.py
Due: prettier --config rss-temple/.prettierrc --write

better login bg image
  rss-temple-home/src/favicon.ico
  rss-temple-home/src/media/icon.svg
  rss-temple/src/assets/images/icon.svg
  rss-temple/src/assets/images/login_bg.svg
  rss-temple/src/favicon.ico
  rss-temple/tools/login_image_gen/login_image_gen.py
Due: none

adding the 'top images'
  rss-temple/src/app/models/feedentry.ts
  rss-temple/src/app/routes/main/components/shared/abstract-feeds/abstract-feeds.component.ts
  rss-temple/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.html
  rss-temple/src/app/routes/main/components/shared/feed-entry-view/feed-entry-view.component.scss
  rss-temple/src/app/services/data/feedentry.service.ts
Due: prettier --config rss-temple/.prettierrc --write

minor improvements
  rss-temple/src/app/components/nav/search-modal/search-modal.component.html
  rss-temple/src/app/components/shared/confirm-modal/confirm-modal.component.html
  rss-temple/src/app/components/shared/confirm-modal/confirm-modal.component.ts
Due: prettier --config rss-temple/.prettierrc --write

adding a 'delete user' tool
  rss-temple/src/app/routes/main/components/profile/delete-user-confirm1-modal/delete-user-confirm1-modal.component.html
  rss-temple/src/app/routes/main/components/profile/delete-user-confirm1-modal/delete-user-confirm1-modal.component.scss
  rss-temple/src/app/routes/main/components/profile/delete-user-confirm1-modal/delete-user-confirm1-modal.component.ts
  rss-temple/src/app/routes/main/components/profile/delete-user-confirm2-modal/delete-user-confirm2-modal.component.html
  rss-temple/src/app/routes/main/components/profile/delete-user-confirm2-modal/delete-user-confirm2-modal.component.scss
  rss-temple/src/app/routes/main/components/profile/delete-user-confirm2-modal/delete-user-confirm2-modal.component.ts
  rss-temple/src/app/routes/main/components/profile/profile.component.html
  rss-temple/src/app/routes/main/components/profile/profile.component.spec.ts
  rss-temple/src/app/routes/main/components/profile/profile.component.ts
  rss-temple/src/app/routes/main/main.module.ts
  rss-temple/src/app/services/data/auth.service.ts
Due: prettier --config rss-temple/.prettierrc --write

handling throttling better, and better messaging after registration
  rss-temple/src/app/app-shared.module.ts
  rss-temple/src/app/app.module.ts
  rss-temple/src/app/components/login/login.component.ts
  rss-temple/src/app/components/register/register.component.html
  rss-temple/src/app/components/register/register.component.ts
  rss-temple/src/app/components/shared/info-modal/info-modal.component.html
  rss-temple/src/app/components/shared/info-modal/info-modal.component.scss
  rss-temple/src/app/components/shared/info-modal/info-modal.component.ts
  rss-temple/src/app/services/httperror.service.ts
  rss-temple/yarn.lock
Due: prettier --config rss-temple/.prettierrc --write

Path conditions:
  prettier --config rss-temple/.prettierrc --write: any of: rss-temple/**/*.{json,js,jsx,ts,tsx,html,md,yml,yaml,css,scss}
  prettier --config rss-temple-home/.prettierrc --write: any of: rss-temple-home/**/*.{json,js,ts,html,md,yml,yaml,css,scss}
